<div class="jumbotron mt-4">
  <h1 class="display-4"> Notes App NodeJs and Mongodb</h1>
  <p class="lead">Private notes application only for users registered</p>
  <hr class="my-4" />
  <p>
    Tools used for the project: Express, Handlebars, Nodemon, Bcryptjs,
    Connect-Flash, MongoDB, Passport, Dotenv Follow them on Github
  </p>
  <div class="d-flex justify-content-around mt-5">
    <a
      href="https://github.com/josemiranda989"
      class="btn btn-primary"
    >GitHub</a>
    <a
      href="https://cafecito.app/josemiranda989"
      rel="noopener"
      target="_blank"
    ><img
        srcset="https://cdn.cafecito.app/imgs/buttons/button_5.png 1x, https://cdn.cafecito.app/imgs/buttons/button_5_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_5_3.75x.png 3.75x"
        src="https://cdn.cafecito.app/imgs/buttons/button_5.png"
        alt="Invitame un café en cafecito.app"
      /></a>
  </div>

</div>