<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App NodeJs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae tenetur molestiae consequatur a aut.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit expedita illo dolorum cupiditate eum omnis nam praesentium labore ab!</p>
    <a href="https://github.com/josemiranda989" class="btn btn-primary">GitHub</a>
</div>